body {
    background-color: rgb(184, 182, 182);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75em;
    
}

h1 {
    text-align: center;
    font-size: 60px;
}

.phone-container {
    background-image: url(images/phone.png) ;
    background-size: cover;
    background-position: center;
    width: 456px;
    height: 918px;
    position: relative;

}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    width: 398px;
    height: 870px;
    background-color: black;
    border-radius: 8mm;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    width: inherit;
    height: 35px;
}
.left-side {
    display: flex;
    align-items: center;
    padding-left: 25px;
}

.right-side {
    display: flex;
    align-items: center;
    padding-right: 25px;
    color: white;
    font-size: 18px;
    font-weight: 550;
}



img {
    width: 27px;
    height: 27px;
    
}

.display {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin: 90px 15px 0px;
    width: inherit;
    height: 100px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

button {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;
    border-style: none;
    color: white;
    
}

.middle-buttons-section>.operator {
    background-color: rgb(226, 149, 6);
}

.number#zero {
    width: 190px;
    border-radius: 40px;
}

.operator#equals {
    width: 400px;
    height: 100px;
    border-radius:40px;
}



.top-buttons-section>button , .middle-buttons-section>button {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
}

.top-buttons-section>button {
    background-color: gray;
    color: black;
}

.middle-buttons-section>.number  {
    background-color: rgb(56, 55, 55);
    color: white;
}





















