body {
    background-color: rgb(184, 182, 182);
}

h1 {
    text-align: center;
    font-size: 60px;
}

.calculator-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 150px;
    width: 400px;
    height: 795px;
    background-color: black;
    border-radius: 5mm;

}

.time {
    color: white;
}

.display {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin: 80px 15px 0px;
    width: inherit;
    height: 100px;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 24px;
    border-style: none;
    color: white;
    
}

.middle-buttons-section>.operator {
    background-color: rgb(226, 149, 6);
}

.number#zero {
    width: 179.5px;
    border-radius: 40px;
}

.operator#equals {
    width: 379px;
    border-radius:40px;
}



.top-buttons-section>button , .middle-buttons-section>button {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 10px;
}

.top-buttons-section>button {
    background-color: gray;
    color: black;
}

.middle-buttons-section>.number  {
    background-color: rgb(56, 55, 55);
    color: white;
}



















